<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>
</head>
<body>
   <form action="" method="post">
    <fieldset>
        <table>
            <tr>
                <th>
                    Username
                </th> 
                <td>
                    <input type="text" name="username" id="username"  placeholder="Enter Username">
                </td>
                <td id="usernameErr">

                </td>   
            </tr>
            <tr>
                <th>
                    Password
                </th>
                <td>
                    <input type="password" name="password" id="password"  placeholder="Enter Password">
                </td>
                <td id="passwordErr">

                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Login" id="login">
                </td>
                <td>
                    <a href="registration.html">Registration</a>
                </td>
            </tr>
        </table>
    </fieldset>
   </form>
   
  
</body>
</html>